{% extends "base.html.twig" %}

{% set menu_selected = 'files' %}

{% block body %}
    {#<div class="row-fluid">
        {% include "CypressGitElephantHostBundle:Repository:tabs.html.twig" with {
            selected: 'code', routeBase: 'repository', route: 'tree_object'
        } %}
    </div>
    <div class="bc">
        {{ render(controller('CypressGitElephantHostBundle:Repository:breadcrumb', {slug: repository.slug, ref: ref, path: path})) }}
    </div>#}

    <div class="repository row-fluid" data-ref="{{ ref }}">
        {{ render(controller('RepositoryController::treeAction', {ref: ref, path: path})) }}
    </div>
{% endblock %}

{#
{% block branches %}
    <ul class="dropdown-menu">
        {% for branch in repository.branches %}
            <li><a href="{{ path('repository', { slug: repository.slug }) }}">{{ repository }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}#}
